[submodule "USER_ROOM"]
	path = USER_ROOM
	url = git@github.com:the-cocoon/USER_ROOM.git
	branch = master
[submodule "RAILS_BLOG"]
	path = RAILS_BLOG
	url = git@github.com:the-cocoon/RAILS_BLOG.git
	branch = master
[submodule "RAILS_SHOP"]
	path = RAILS_SHOP
	url = git@github.com:the-cocoon/RAILS_SHOP.git
	branch = master
[submodule "db_bootstrap"]
	path = db_bootstrap
	url = git@github.com:the-cocoon/db_bootstrap.git
	branch = master
