[submodule "USER_ROOM"]
	path = USER_ROOM
	url = git@github.com:the-cocoon/USER_ROOM.git
	branch = master
[submodule "RAILS_BLOG"]
	path = RAILS_BLOG
	url = git@github.com:the-cocoon/RAILS_BLOG.git
	branch = master
[submodule "RAILS_SHOP"]
	path = RAILS_SHOP
	url = git@github.com:the-cocoon/RAILS_SHOP.git
	branch = master
[submodule "db_bootstrap"]
	path = db_bootstrap
	url = git@github.com:the-cocoon/db_bootstrap.git
	branch = master
[submodule "JODY"]
	path = JODY
	url = git@github.com:the-cocoon/JODY.git
	branch = master
[submodule "jsvoid"]
	path = jsvoid
	url = git@github.com:the-cocoon/jsvoid.git
	branch = master
[submodule "log_js"]
	path = log_js
	url = git@github.com:the-cocoon/log_js.git
	branch = master
[submodule "pagination"]
	path = pagination
	url = git@github.com:the-cocoon/pagination.git
	branch = master
[submodule "simple_sort"]
	path = simple_sort
	url = git@github.com:the-cocoon/simple_sort
	branch = master
[submodule "notifications"]
	path = notifications
	url = git@github.com:the-cocoon/notifications
	branch = master
[submodule "voiceless"]
	path = voiceless
	url = git@github.com:the-cocoon/voiceless
	branch = master
[submodule "has_meta_data"]
	path = has_meta_data
	url = git@github.com:the-cocoon/has_meta_data.git
	branch = master
[submodule "to_slug_param"]
	path = to_slug_param
	url = git@github.com:the-cocoon/to_slug_param.git
	branch = master
[submodule "friendly_id_pack"]
	path = friendly_id_pack
	url = git@github.com:the-cocoon/friendly_id_pack.git
	branch = master
[submodule "the_string_addon"]
	path = the_string_addon
	url = git@github.com:the-cocoon/the_string_addon.git
	branch = master
[submodule "image_tools"]
	path = image_tools
	url = git@github.com:the-cocoon/image_tools.git
	branch = master
[submodule "crop_tool"]
	path = crop_tool
	url = git@github.com:the-cocoon/crop_tool.git
	branch = master
[submodule "attached_images"]
	path = attached_images
	url = git@github.com:the-cocoon/attached_images.git
	branch = master
[submodule "the_storages"]
	path = the_storages
	url = git@github.com:the-cocoon/the_storages.git
	branch = master
[submodule "role_slim_js"]
	path = role_slim_js
	url = git@github.com:the-cocoon/role_slim_js.git
	branch = master
[submodule "components"]
	path = components
	url = git@github.com:the-cocoon/components.git
	branch = master
